body {
    margin: 0;
    padding: 0;
    background-color: #26263C;
    font-family: "Aoboshi One", serif;
    font-weight: 400;
    font-style: normal;
}

.navigation-container {
    width: 100%;
    height: 92px;
    background-color: #4D3C96;
    display: flex;
    justify-content: space-between;
}

.fast-notes-navigation-container {
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.navigation-buttons-container {
    display: flex;
    gap: 25px;
    padding-left: 65px;
}

.fast-notes-navigation-container img {
    height: 50%;
    transition: transform 0.3s ease;
}

.rotated {
    transform: rotate(90deg);
}

.navigation-button {
    color: #fff;
    display: flex;
    font-size: 31px;
    width: 100%;
    background-color: rgba(64, 50, 88, 0.1);
    align-items: center;
    justify-content: center;
    padding: 0px 137px 0 137px;
    border-right: 9px solid rgba(47, 41, 59, 0.2);
    border-left: 9px solid rgba(47, 41, 59, 0.2);
    cursor: pointer;
}

.navigation-button:hover .navigation-button-inner .navigation-button-line {
    height: 5px;
    opacity: 1;
}

.navigation-buttons-wrapper {
    display: flex;
    gap: 15px;
}

.navigation-button-inner {
    gap: 2px;
    display: flex;
    flex-direction: column;
}

.navigation-button-line {
    height: 0;
    opacity: 0;
    background-color: rgba(47, 41, 59, 0.7);
    transition: height 0.3s ease, opacity 0.3s ease;
    border-radius: 25px;
    overflow: hidden;
}

.navigation-profile-button img {
    height: 100%;
    transition: border-radius 0.3s ease;
    transition: height 0.3s ease;
    cursor: pointer;
}

.navigation-profile-button img:hover {
    border-radius: 12px;
    height: 90%;
}

.navigation-profile-button {
    display: flex;
    justify-content: end;
    align-items: end;
}

#sidebar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 355px;
    background-color: #413868;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}

#sidebar.open {
    transform: translateX(0);
}

.group-item-wrapper {
    display: flex;
    flex-direction: column;
    border-bottom: 5px solid rgba(47, 41, 59, 0.2);
    text-align: center;
    padding: 20px;
    cursor: pointer;
}

.group-item {
    width: 100%;
    display: flex;
    justify-content: center;
    transition: flex 1.3s ease;
}

.group-item-line {
    border-radius: 20px;
    width: 100%;
    height: 5px;
    background-color: rgba(47, 41, 59, 0.7);
    transition: width 0.3s ease;
}

.group-item-line.open {
    width: 200px;
}

.group-item-text {
    color: #fff;
    font-size: 25px;
    font-family: "Anuphan", sans-serif;
}

.group-color-box {
    background-color: aqua;
    border-radius: 5px;
    width: 15px;
    height: 15px;
}

.group-item-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    gap: 15px;
}

.group-container-wrapper {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.group-item-wrapper-hover:hover .group-item .group-item-text-wrapper .group-item-line {
    width: 200px;
}

.note-color-box {
    background-color: aqua;
    border-radius: 5px;
    width: 15px;
    height: 15px;
}

.note-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: #fff;
}

.note-item-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.note-item-line {
    border-radius: 20px;
    width: 50%;
    height: 4px;
    background-color: rgba(47, 41, 59, 0.4);
    transition: width 0.3s ease;
}

.notes-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.hidden {
    display: none;
}

.add-svg-button {
    width: 40px;
    cursor: pointer;
}

.notes-add-button {
    width: 30px;
    cursor: pointer;
}

.add-button-container {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notes-add-button-container {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar {
    overflow-y: scroll;
    overflow-x: hidden;
}

.refresh-button-container {
    display:flex;
    width:100%;
    justify-content: end;
    
}

.refresh-button {
    height: 35px;
    cursor: pointer;
}

.group-item-name-input{
    background-color: hsla(240, 43%, 21%, 0);
    color:#fff;
    border: 0;
    width:50%;
    justify-self: center;
}

.group-color-box-input {
    border: 0;
    padding: 0;
    box-sizing:unset;
    appearance: none;
}

.group-confirm-button{
    height:25px;

}
.body-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.body-container{
    width: 60%;
    color: #fff;
}